body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 10vh 0px 0px 0px;
    padding: 0px;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

img, .linkLogo, #limitlessLinks {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

#menuBar {
    display: flex;
    border-bottom: 2px solid #3d3d3d;
    background-color: #181818;
    width: 100vw;
    height: 10vh;
    margin: 0px 0px 0px 0px;
    z-index: 2;
    top: 0;
    position: fixed;
    flex-direction: column;
    justify-items: space-evenly;
}

#topBar {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkBar {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categoryLink {
    font-size: x-large;
}
@media screen and (max-width: 600px) {
    .categoryLink {
        font-size: medium;
    }
}

.optionButton {
    height: 3.5vh;
    width: 3.5vh;
    background-color: #303030;
    border: 2px solid #6d6d6d;
    border-radius: 1vh;
    position: absolute;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionButton:hover {
    height: 3.75vh;
    width: 3.75vh;
    cursor: pointer;
}
.optionButton:active {
    height: 3.25vh;
    width: 3.25vh;
}
.optionIcon {
    height: 60%;
    width: auto;
    /*Edit color by opening the .svg file and editing stroke color*/
}

#menuButton {
    left: .75vh;
}
#menuButton:hover {
    left: .625vh;
}
#menuButton:active {
    left: .875vh;
}

#settingsButton {
    right: .75vh;
}
#settingsButton:hover {
    right: .625vh;
}
#settingsButton:active {
    right: .875vh;
}

#newsButton {
    right: 5vh;
}
#newsButton:hover {
    right: 4.875vh;
}
#newsButton:active {
    right: 5.125vh;
}

#limitlessLinks {
    height: 10vh;
    transition: 0.1s;
    z-index: 10;
    position: absolute;
    top: -2vh;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    clip-path: inset(3vh 0px 3vh 0px);
}
#limitlessLinks:hover {
    height: 10.5vh;
    cursor: pointer;
    top: -2.25vh;
}
#limitlessLinks:active {
    height: 9.5vh;
    top: -1.75vh;
}

#linkMenuBox {
    background-color: #181818;
    width: 10vw;
    height: 0px;
    z-index: 5;
    top: 0px;
    left: 45vw;
    border-radius: 1vh;
    transition: .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    pointer-events: none;
    font-size: 20pt;
}
@media screen and (max-width: 600px) {
    #linkMenuBox {
        font-size: 12pt
    }
}
#linkBoxes {
    height: 75vh;
    width: 75vw;
    opacity: 0%;
    transition: .5s;
    transition-delay: .5s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
}

#contentBlocker {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0%);
    z-index: 3;
    top: 0px;
    left: 0px;
    position: absolute;
    transition: .5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0%;
    transition-delay: 0s;
    pointer-events: none;
}

.linkBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.linkLogo {
    height: 2vh;
    width: auto;
    margin-right: 5px;
}